@model ClientCreateVM


<form asp-controller="Clients" asp-action="Create" method="post" class="row g-3" id="formulaire">
    <div class="col-md-4">
        <label asp-for="Nom" class="form-label"></label>
        <input asp-for="Nom" class="form-control" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Age" class="form-label"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="NumeroTelephone" class="form-label"></label>
        <input asp-for="NumeroTelephone" class="form-control" />
        <span asp-validation-for="NumeroTelephone" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Courriel" class="form-label"></label>
        <input asp-for="Courriel" class="form-control" />
        <span asp-validation-for="Courriel" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="TypeAbonnementId" class="form-label"></label>
        <select class="form-control" asp-for="TypeAbonnementId" asp-items="Model.ListesAbonnement">
            <option value="">Choisir un abonnement</option>
        </select>
        <span asp-validation-for="TypeAbonnementId" class="text-danger"></span>
    </div>
    <div class="col-md-12 mt-3">
        <button type="button" class="btn btn-info" id="sauvegarder" onclick="creerClient(event)">Sauvegarder</button>
        <button class="btn btn-danger" onclick="annulerCreation()">Annuler</button>
    </div>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/site.js"></script>
}

