@model List<TP4.ViewModels.ClientsIndexVM>

<h1>Clients</h1>

<button class="btn btn-primary mb-3" onclick="afficherFormulaire()" id="btnCreer">Créer un client</button>
<br />
<div id="formulaireDiv">
</div>
<br />

<div id="clientsList">
    <partial name="_ClientsListPartial" model="@Model" />
</div>

@section scripts{
    <script src="~/js/site.js"></script>
}